
body{
  margin:0;
}
/* menu */
/* .menu {
  padding: 10px;
  text-align: left;
  background: #FBBC09;
  font-size: 18px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, .3);
  z-index: 1;
  position: relative;
}

.menu a {
  font-size: 18px;
  font-weight: 600;
  /* color: white;
  } */


/* text styling */

h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: 'Nunito', 'Helvetica', sans-serif;
}
h1, h2, h3, h4,{
  padding-top: 5px;
  padding-bottom: 5px;
}

p, a, li {
  padding-top: 2px;
  padding-bottom: 2px;
}

h1{font-size: 24px;}
h2{font-size: 18px;}
h3{font-size: 16px;}
h4{font-size: 14px;}
h5{font-size: 12px;}
h6{font-size: 8px;}
p,li{font-size: 14px;}


/* link styling */

h5, h6, a{
  font-weight: 600;
}

h4, h5{
  margin-top: .5em;
  margin-bottom: .5em;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: grey;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}






/* start over */

/* make a variation of this for mobile also */
.major-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-gap: 10px; */
  /* grid-auto-rows: 100px; */
  grid-template-areas:
    "a b b b"
    "a c c c"
    "a d d d"
    "a e e e"
    "f f f f";
}

.left {
  grid-area: a;
}
.title1 {
  grid-area: b;
}
.imageset {
  grid-area: c;
}
.title2 {
  grid-area: d;
}
.listset {
  grid-area: e;
}
.footer {
  grid-area: f;
}


/* left */
.left{
  width: 25%;
  background: #FBBC09;
  padding-top: 50px;
  padding-bottom: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
}


.left a{
  text-align: center;
  margin: 10px;
  display: block;
}


.left img{
  border-radius: 150px;
  width: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.main-text{
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.left h2{
  font-size: 18px;
  color: #4a4a4a;
  text-align: center;
}

.left h3{
  color: #4a4a4a;
  font-weight: 500;
  text-align: center;
}

/* title 1 */
.title1 h2{
  font-size: 24px;
  color: #4a4a4a;
  text-align: center;
  margin: 25px;
}
.title2 h2{
  font-size: 24px;
  color: #4a4a4a;
  text-align: center;
  margin: 50px;
}

/* imageset */
.imageset {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10%;
  grid-row-gap: 5%;
  padding-left: 10%;
  padding-right: 10%;

}

.imageset a{
  display: grid;
  grid-template-rows: 1fr minmax(1em,auto);
}

.imageset img{
  width: 100%;
  border-radius: 15px;
}

.imageset ul{
  margin:0;
  padding:0;
}

/* segment 3 */
.listset {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-column-gap: 10%; */
  /* grid-row-gap: 5%; */
  padding-left: 10%;
  padding-right: 10%;
}

/* footer */

.footer{
  text-align: center;
  background-color: #FBBC09;
  margin-top: 50px;
  width: 100%
}

.footer p{
  padding: 30px;
  margin: 0;
}

.list-title{
  padding-left: 25px;
  margin-bottom: 0px;
  font-weight: 600;
}

ol{
  margin-top: 2px;
}


/* smaller screen properties */

@media only screen and (max-width: 1000px) {
      .major-grid{
        display: block;
      }

      .left{
        position: relative;
        width: 100%
      }
      .imageset {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
      }
      .listset {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
      }
}
