
body{
  margin:0;
}


/* text styling */

h1, h2, h3, h4, h5, h6, p, a, li , ul, button{
    font-family: 'Nunito', 'Helvetica', sans-serif;
}
h1, h2, h3, h4,{
  padding-top: 5px;
  padding-bottom: 5px;
}

p, a, li {
  /* padding-top: 2px; */
  /* padding-bottom: 2px; */
}


/* typography */
h1{font-size: 24px;}
h2{font-size: 18px;}
h3{font-size: 16px;}
h4{font-size: 16px; font-weight: 800;}
h5{font-size: 14px; font-weight: 400;}
h6{font-size: 8px;}
p,li{font-size: 14px;}

/* .info h4{
  font-size: 16px;
}
.info h5{
  font-size: 12px;
} */
.logo{
  font-size: 18px;
  /* font-weight: 600; */
}

.header h2{
  font-size: 24px;
}
.title1 h2{
  font-size: 24px;
}
.title2 h2{
  font-size: 24px;
}
.generalbutton{
  font-size:18px;
}
.content h3{
  font-size: 36px;
}
.content p{
  font-size: 24px;
}
.myButton{
  font-size:18px;
}
h5, h6, a{
  font-weight: 400;
}

/* link styling */



h4, h5{
  margin-top: .5em;
  margin-bottom: .5em;
}

a:link {
  color: #404040;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #404040;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: grey;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


/* option 2 */
.major-grid{
  display: grid;
  grid-auto-rows: auto;
}

.header{
  display: grid;
  grid-template-columns:  repeat(5, 1fr);
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    ". a b b ."
    "p p p p p";
  align-items: center;
}

.profile{
  grid-area: a;
}

.main-text{
  grid-area: b;
}

.categories{
  grid-area: p;
}

.header{
  position: relative;
  width: 100%
}

/* header option 2*/
.header{
  background: #FBBC09;
  padding: 50px 0 70px 0;
}

.header img{
  border-radius: 150px;
  width: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.main-text{
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.header h2{
  color: #4a4a4a;
  text-align: left;
}

.categories{
  display: grid;
  grid-template-columns: repeat(4, auto);
  background: #FBBC09;
  align-items: center;
  padding: 1% 15% 1% 15%;
}
.categories a{
  border: 1px solid #f7f7f7;
  border-radius: 15px;
  box-shadow: 0 6px 6px -6px rgba(103, 103, 103, 0.5);
  margin: 2%;
  padding: 3%;
  color: #4a4a4a;
  /* background-color: #fff; */
  text-align: center;
}

.divider{
  background-color: #fafafa;
  padding: 2% 10% 1% 10%;
}

.divider h2{
  display: block;
  text-align: center;
}

.divider h5{
  display: block;
  text-align: center;
}

/* title 1 */
.title1 h2{
  color: #4a4a4a;
  text-align: center;
  padding: 5%;
  margin:0;
  background-color: #f3f3f3;

}
.title2 h2{
  color: #4a4a4a;
  text-align: center;
  margin: 50px;
}

/* big grid */
.arch,.featured, .talks, .ux {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 0;
    padding: 2% 5% 2% 5%;
    background-color: #fafafa;
}

/* inner grid */
.featured ul, .talks ul, .arch ul, .ux ul{
  margin:0;
  padding:0;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 6px 6px -6px #E1E1E1;
  margin-bottom: 10%;
}


/* inner grid */
.featured a, .ux a{
  display: grid;
  grid-template-rows: 1fr minmax(1em,auto);
}

.arch a, .talks a{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
}

/* images */
.featured img{
  width: 100%;
  border-radius: 15px 15px 0 0 ;
}
.talks img, .arch img{
  width: 90%;
  border-radius: 15px ;
  margin: 5%;
}

.ux img{
  width: 100%;
  border-radius: 15px 15px 0 0 ;
}

.info {
  margin: 5%;
}


/* footer */

.footer{
  text-align: center;
  background-color: #FBBC09;
  padding-top: 50px;
  width: 100%
}

.footer p{
  padding: 30px;
  margin: 0;
}

.list-title{
  padding-left: 25px;
  margin-bottom: 0px;
  font-weight: 600;
}

.listset a{
  color: #1586f1;
}

ol{
  margin-top: 2px;
}


.top{
  display: grid;
  grid-template-columns: minmax(160px, 8fr) minmax(min-content, 1fr) minmax(min-content, 1fr)  ;
  background-color: #FBBC09;
  padding: 0 10% 0 10%;
}


.top {
   color: #404040;

   /* padding-left: 20px; */
}

.logo{
     float: left;
}

#resume-button, #about-button {
  text-align: right;
}

.content img {
  width:100%;
}

.content h3{
  text-align: center;
  padding: 5% 5% 3% 5%;
  margin: 0;
}

.content .generalbutton {
  text-align: center;
}


.content a{
  text-align: center;
}

.content p{
  padding: 7% 25% 2% 25%;
  margin: 0;
}

.content a{
    color: #549091;
}

.content-imageset {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: 2% 2% 2% 2%;
}

.small-img {
  width: 75% !important;
  margin: 1% 12.5% 1% 12.5%;
}
.myButton {
	box-shadow:inset 0px 39px 0px -24px #825399;
	background-color:#6b2d87;
	border-radius:15px;
	display:inline-block;
  margin: 2% 30% 2% 30%;
  /* margin: 2% 50% 5% 50%; */
  width: auto;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	padding:18px 18px;
	text-decoration:none;
  text-align: center:
}
.myButton:hover {
	background-color:#4b285e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.generalbutton {
	/* box-shadow:inset 0px 39px 0px -24px #ffaa22; */
	background-color:#5fc2ea;
	border-radius:15px;
	display:inline-block;
  margin: 1% 30% 1% 25%;
  width: auto;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	padding:18px 18px;
	text-decoration:none;
}

.videos{
  margin: 0 20% 0 20%;
  width:840;
  height:472;
}
.pdf{
  margin: 0 20% 0 20%;
  width:840;
  height:472;
}

/* resume page */
#more {
  display: none;
}

.work-ex, .internships, .education, .awards, .speaking, .published, .fellowships{
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  grid-template-areas:
    "l d ."
    "l e ."
    "l f ."
    "l g ."
    "l h .";
}

.resume-left{
      grid-area: l;
}
.resume-detail-1{
      grid-area: d;
}
.resume-detail-2{
      grid-area: e;
}
.resume-detail-3{
      grid-area: f;
}
.resume-detail-4{
      grid-area: g;
}
.resume-detail-5{
      grid-area: h;
}

.banner{
  background: #FBBC09;
  padding: 50px 25% 70px 25%;
  margin:0;
}

.banner .main-text{
    padding: 0 5% 5px 5%;
    color: #4a4a4a;

}

.resume-left{
  text-align: right;
  padding: 0 5% 5px 25px;
  font-weight: 800;
}
.resume-item-title{
  font-weight: 800;
  margin-bottom: 2px;
}

.resume-item-role{
  font-weight: 400;
  margin-bottom: 2px;
  margin-top: 2px;
}
.resume-item-time{
  font-weight: 400;
  margin-bottom: 2px;
  font-style: italic;
  margin-top: 2px;
}
.resume-item-description{
  margin-top: 2%;
  margin-bottom: 2%;
}

.resume-detail-1, .resume-detail-2, .resume-detail-3, .resume-detail-4, .resume-detail-5 {
  padding: 5px 25px 5px 25px;
  margin-right: 25%;
  margin-bottom: 2%;
  border: 1px solid #dcdcdc;
  border-radius: 15px;

}

.resume-elements a{
  color: #1586f1;
  font-weight: bold;
}

.resume-elements{
  margin: 5% 0 5% 0;
}

.testimonials{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3%
}

.test-name {
    font-weight: bold;
}

.testimonial-1, .testimonial-2{
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 5%;
  margin: 5%;
}

.test-text{
  font-style: italic;
}
/* smaller screen properties */

@media only screen and (max-width: 1000px) {

  /* typography */

      h1{font-size: 36px;}
      h2{font-size: 28px;}
      h3{font-size: 16px;}
      h4{font-size: 16px; font-weight: 800;}
      h5{font-size: 12px; font-weight: 400;}
      h6{font-size: 14px;}
      p,li{font-size: 14px;}

      .info h4 {
        font-size: 18px;
      }
      .info h5{
        font-size: 14px;
      }
      .top h3{
        font-size: 16px;
      }
      .content p{
        font-size: 14px;
      }
      .footer p{
        font-size: 14px;
      }

      .main-text h2{
        font-size: 16px;
      }

      .logo{
        /* font-weight: 800; */
      }
      .divider h2{
        font-size: 16px;
      }

      .top{
        display: grid;
        grid-template-columns: minmax(160px, 3fr) minmax(min-content, 1fr) minmax(min-content, 1fr)  ;
        background-color: #FBBC09;
        padding: 0 10% 0 10%;
      }


      .major-grid{
        display: grid;
        grid-auto-rows: auto;
      }

      .header{
        display: block;
      }


      .main-text h2{
        margin: 15% 0 15% 0;
        text-align: center;
        color: #4a4a4a;
      }

/* menu styling */
      .categories{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        background: #FBBC09;
        align-items: center;
        padding: 1% auto 1% auto;
      }
      .categories a{
        border: 1px solid #f7f7f7;
        border-radius: 10px;
        box-shadow: 0 6px 6px -6px rgba(103, 103, 103, 0.5);
        margin: 2%;
        padding: 3%;
        color: #4a4a4a;
        /* background-color: #fff; */
        text-align: center;
      }


      .profile{
        grid-area: a;
      }

      /* grids */
      .arch a, .talks a, .featured a, .ux a{
          display: grid;
          grid-template-columns: 1fr 3fr;
          grid-template-rows: 1fr;
          align-items: center;
      }
      .featured, .ux, .talks, .arch {
          display: grid;
          grid-template-columns: 1fr;
          grid-column-gap: 5%;
          grid-row-gap: 0;
          padding: 5% 5% 5% 5%;
      }
      .featured ul, .ux ul, .arch ul, .talks ul{
        margin-bottom: 5%;
      }
      .featured img, .ux img, .arch img, .talks img{
        width: 100%;
        border-radius: 15px 15px 15px 015px ;
        margin: 5%;
      }



      .content-imageset {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        padding:0;
      }

      .listset {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
      }

      .content p{
          padding: 5% 5% 5% 5%;
      }

      .banner {
          padding: 50px 5% 70px 5%;
      }

      .banner h2{
          text-align: left;
      }

      .work-ex, .internships, .education, .awards, .speaking, .published, .fellowships{
        display: block;
      }

      .resume-left-title{
        text-align: left;
        padding-top: 10%;
        border-bottom: 1px solid #868686;
      }
      .testimonials{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }
      .resume-detail-1, .resume-detail-2, .resume-detail-3, .resume-detail-4, .resume-detail-5 {
        padding: 5px 25px 5px 25px;
        margin: 2% 5% 2% 5%;
        border: 1px solid #dcdcdc;
        border-radius: 15px;
      }
      .videos{
        margin: 0;
        width:100%;
      }
      .pdf{
        margin: 0;
        width:100%;
      }
}
