
body{
  margin:0;
}

/* text styling */

h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: 'Nunito', 'Helvetica', sans-serif;
}
h1, h2, h3, h4,{
  padding-top: 5px;
  padding-bottom: 5px;
}

p, a, li {
  /* padding-top: 2px; */
  /* padding-bottom: 2px; */
}

h1{font-size: 24px;}
h2{font-size: 18px;}
h3{font-size: 16px;}
h4{font-size: 14px; font-weight: 800;}
h5{font-size: 14px; font-weight: 400;}
h6{font-size: 8px;}
p,li{font-size: 14px;}



/* link styling */

h5, h6, a{
  font-weight: 400;
}

h4, h5{
  margin-top: .5em;
  margin-bottom: .5em;
}

a:link {
  color: #404040;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: grey;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


/* option 2 */
.major-grid{
  display: block;
}


.left{
  display: grid;
  grid-template-columns:  repeat(6, 1fr);
  grid-template-areas:
    ". a . b b .";
}

.profile{
  grid-area: a;
}

.main-text{
  grid-area: b;
}

.left{
  position: relative;
  width: 100%
}

/* left option 2*/
.left{
  background: #FBBC09;
  padding: 50px 0 70px 0;
}

.left a{
  color: #fff;
  text-align: center;
  margin: 20px;
  display: block;
}

.logo {
  font-weight: 800;
  font-size: 18px;
}

.left img{
  border-radius: 150px;
  width: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.main-text{
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.left h2{
  color: #4a4a4a;
  text-align: left;
  font-size: 23px;
  /* margin-left: 30%;
  margin-right: 30%; */
}

.main-text a{
  color: #fff;
  font-weight: 400;
  }

/* title 1 */
.title1 h2{
  font-size: 24px;
  color: #4a4a4a;
  text-align: center;
  padding: 5%;
  margin:0;
  background-color: #f3f3f3;

}
.title2 h2{
  font-size: 24px;
  color: #4a4a4a;
  text-align: center;
  margin: 50px;
}

/* imageset  option 1*/
.imageset {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3%;
  grid-row-gap: 3%;
  padding: 5% 5% 5% 5%;
  background-color: #f3f3f3;
}

.imageset a{
  display: grid;
  grid-template-rows: 1fr minmax(1em,auto);
}
.imageset img{
  width: 100%;
  border-radius: 15px 15px 0 0 ;
}
.imageset ul{
  margin:0;
  padding:0;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 8px 6px -6px grey;
}
.imageset .info{
  padding: 15px;
}


/* segment 3 */
.listset {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-column-gap: 5%; */
  /* grid-row-gap: 5%; */
  padding-left: 10%;
  padding-right: 10%;
}

/* footer */

.footer{
  text-align: center;
  background-color: #FBBC09;
  margin-top: 50px;
  width: 100%
}

.footer p{
  padding: 30px;
  margin: 0;
}

.list-title{
  padding-left: 25px;
  margin-bottom: 0px;
  font-weight: 600;
}

ol{
  margin-top: 2px;
}


.top{
  display: grid;
  grid-template-columns: minmax(160px, 5fr) minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr) ;
  /* grid-template-columns: auto; */
  background-color: #FBBC09;
}


.top a{
   color: #404040;
   float: right;
   float: left;
   padding-left: 20px;
}

/* smaller screen properties */

@media only screen and (max-width: 1000px) {
      .major-grid{
        display: block;
      }

      .left{
        position: relative;
        width: 100%
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
          "a"
          "b";
      }

      .main-text h2{
        margin: 50px 0 50px 0;
        text-align: center;
      }
      .imageset {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
      }
      .listset {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
      }
}
