@charset "UTF-8";
header  {
    background-color: rgba(0,0,0,0.08);
}
body {
    font-style: normal;
    font-weight: 400;
    font-family: lato;
    margin-top: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
}
main {
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    min-width: 400px;
    min-height: 1200px;
}
.top-band {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(255,255,255,0.60);
    margin-bottom: -7px;
}
nav {
    float: right;
}
.mobile-view {
    display: none;
}
.desktop-view {
    margin-top: -61px;
}
.desktop-view ul li {
    list-style-type: none;
    display: inline-block;
    padding-top: 0px;
    margin-top: -14px;
}
.desktop-view ul li a {
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
    color: #383838;
}
.hero-yellow {
    background-color: #FBBC09;
    height: 550px;
}
footer {
    text-align: center;
    margin-left: 0px;
    background-color: rgba(33,37,45,1.00);
    padding-left: 45px;
    padding-right: 45px;
    margin-right: 0px;
    padding-top: 45px;
    padding-bottom: 45px;
    color: rgba(153,153,153,1.00);
    display: block;
    position: static;
    bottom: -2px;
}
.copyright {
    float: left;
    padding-left: 0px;
    padding-bottom: 29px;
    padding-top: 1px;
}
.footermsg {
    float: right;
    text-align: right;
    padding-bottom: 0px;
    padding-right: 19px;
    padding-top: 0px;
    padding-left: 1px;
}
.top-band main .header-centre.picture {
    max-width: 50%;
    float: none;
}
h2 {
}
.button-holder {
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.rows-3 {
    width: 31%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}


@media (min-width: 401px) and (max-width: 768px){
header {
}
.mobile-view {
    display: block;
    float: right;
    margin-top: -51px;
    margin-right: 16px;
}
.desktop-view {
    display: none;
    margin-top: 18px;
    margin-right: 5px;
    margin-left: 5px;
}
.expand {
    display: block;
}
.desktop-view ul li {
    display: block;
    background-color: #FBBC09;
    padding-bottom: 15px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 15px;
    top: 48px;
}
.hero-home {
    font-family: lato;
    font-style: normal;
    font-weight: 700;
    color: rgba(255,255,255,1.00);
    font-size: 48px;
    margin-right: 5%;
    margin-left: 5%;
    min-width: 300px;
    line-height: 47px;
    margin-top: 125px;
    clear: both;
}
.hero-yellow {
    height: 550px;
    background-color: #FBBC09;
}
.header-centre {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}
}

@media (max-width: 400px){
header {
}
.mobile-view {
    display: block;
    float: right;
    margin-top: -45px;
    margin-right: 14px;
}
.desktop-view {
    display: none;
    margin-top: 18px;
    margin-right: 3px;
    margin-left: 3px;
}
.expand {
    display: block;
}
.desktop-view ul li {
    display: block;
    background-color: #FBBC09;
    padding-bottom: 15px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 15px;
}
.hero-home {
    font-family: lato;
    font-style: normal;
    font-weight: 700;
    color: rgba(255,255,255,1.00);
    font-size: 48px;
    margin-right: 5%;
    margin-left: 5%;
    min-width: 300px;
    line-height: 47px;
    margin-top: 125px;
    clear: both;
}
.hero-yellow {
    height: 650px;
    background-color: #FBBC09;
}
.header-centre {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10%;
    width: 90%;
    min-width: 0px;
    max-width: 500px;
}
    
}
.logo {
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.logo-box {
    display: inline-block;
    text-decoration: none;
    margin-top: 8px;
    margin-left: 12px;
    margin-bottom: 4px;
}
.Title {
    text-decoration: none;
    color: #383838;
    font-family: lato;
    font-style: normal;
    font-weight: 400;
    padding-left: 0px;
    margin-left: 18px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 10px;
    float: right;
    /* [disabled]clear: right; */
    font-size: 20px;
}
.hamburger {
}
.fo {
}
.button {
    display: inline;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 15px;
    clear: right;
    margin-left: 65px;
    margin-right: 65px;
    float: none;
    margin-top: 65px;
    background-color: #75C1FF;
    color: #FFFFFF;
    font-weight: 800;
    margin-bottom: 65px;
}
.responsive-image {
    width: 100%;
    height: auto;
}
.float-left {
    float: left;
    clear: none;
}
.hero-centre {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 63px;
}
.text-hero-centre {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 42px;
}
.text-hero-centre-sub {
    margin-right: auto;
    max-width: 500px;
    margin-left: auto;
    min-width: 300px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    font-family: lato;
    font-style: normal;
}
.button-holder {
}
